<style>
    /* Don't want to conflict with boostrap carousel */
    .BA-carousel .title {
        margin-bottom: .5em;
    }
</style>

<div class="BA-carousel">
    <span class="title">@Title</span>
    <br />

    <span class="purple btn btn-info" @onclick="@previousIndex">&lt;</span>
    @for (var index = 0; index < Items.Count; index++)
    {
        @if (index == currentIndex)
        {
            <div class="box selected">@Items[index].Name</div>
        }
        else
        {
            <div class="box">@Items[index].Name</div>
        }
    }
    <span class="purple btn btn-outline-info" @onclick="@nextIndex">&gt;</span>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<GameObjectBase> Items { get; set; }

    [Parameter]
    public Action<GameObjectBase> SelectedItemChanged { get; set; }

    private int currentIndex = 0;

    private void previousIndex()
    {
        currentIndex--;

        if (currentIndex < 0)
        {
            currentIndex = Items.Count - 1;
        }

        SelectedItemChanged?.Invoke(Items[currentIndex]);
    }

    private void nextIndex()
    {
        currentIndex++;

        if (currentIndex >= Items.Count)
        {
            currentIndex = 0;
        }
        
        SelectedItemChanged?.Invoke(Items[currentIndex]);
    }

    protected override void OnInitialized()
    {
        SelectedItemChanged?.Invoke(Items[currentIndex]);
    }
}
