@inherits BadActorBaseComponent;

<!-- Is it possible to retrieve the value of Collapsed from the component, and write the compute here? -->
<CollapsibleMenu MenuName="Applications" MenuNameShort="Apps" MenuIcon="mdi mdi-application"
                 MenuClasses="green" HandleClasses="green">
    @foreach (Application application in Application.List)
    {
        @if (application.Unlocked)
        {
            <div class="application" draggable="true"
                 @ondragstart="@(e => ApplicationDragStart(application))" @ondragend="@ApplicationDragEnd">
                <span class="@applicationClass"> @application.Name</span>
            </div>
        }
        else
        {
            <div class="application">
                <span class="@applicationClass"> @application.Name</span>
                <span class="btn btn-success" @onclick="@(e => buyApplication(application))">Buy <span class="@coins.Icon"> @application.Cost</span></span>
            </div>
        }
    }
</CollapsibleMenu>

@code {

    private Resource coins = Resource.Get("Coins");

    // We may later want to suppress the icon while we're dragging
    private string applicationClass = "mdi mdi-application";

    private void ApplicationDragStart(Application application)
    {
        appState.ApplicationBeingDragged = application;
    }

    private void ApplicationDragEnd()
    {
        appState.ApplicationBeingDragged = null;
    }

    private void buyApplication(Application application)
    {
        application.Unlock();
    }
}
