@inject AppState appState;

<style>
    .viralDistributor {
        display: inline-block;
        margin-right: .25em;
        text-align: center;
        padding: .25em;
        border: 1px dashed;
        border-color: var(--ba-border-color-light);
        user-select: none;
    }

        .viralDistributor > span {
            margin-top: .75em;
        }
</style>

<div id="ViralDistributorsContainer" class="purple">

    @foreach (ViralDistributor distributor in ViralDistributor.List)
    {
        <div class="viralDistributor">
            @distributor.Name<br />

            @foreach (ViralVector vector in distributor.DistributedVectors)
            {
                <span class=@getDistributedVectorClass(vector)></span>
            }

            @if (distributor.Count == 0)
            {
                <br />
                <span class="@purchaseClass(distributor)" @onclick="@distributor.Buy">
                    Host <span class="@coins.Icon"> @distributor.Cost</span>
                </span>
            }
        </div>
    }
</div>

@code {

    private Resource coins = Resource.Get("Coins");

    private string getCountLabel(ViralDistributor distributor)
    {
        return distributor.Count + "x";
    }

    private string getDistributedVectorClass(ViralVector vector)
    {
        return vector.Icon +
            (vector.Unlocked ? "" : " locked");
    }

    private string purchaseClass(ViralDistributor distributor)
    {
        return "mdi btn" +
            (coins.Value < distributor.Cost ? " locked" : "");
    }

    public void RedrawNeeded(Type filter)
    {
        if (filter != null && !(filter.Equals(typeof(ViralDistributor))
            || filter.Equals(typeof(ViralVector))))
        {
            return;
        }

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        appState.RedrawNeeded += RedrawNeeded;
    }
}
